*{
    padding: 0;
    margin: 0;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    transition: .3s ease;
}
.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 50px;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    border: 1px solid #ffffff33;
    border-radius: 1.5rem;
    backdrop-filter: blur(5px);
}
textarea{
    padding: 8px;
    background-color: #ffffff33;
    color: aqua;
    outline: none;
    border-radius: 8px;
    font-size: 15px;
}
.container input{
    background: #ffffff33;
    padding: 2px 5px;
    outline: none;
    border: 1px solid aqua;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
}
.container input:focus{
    background-color: #ffffff33;
}
.container button{
    align-self: center;
    width: 70%;
    padding: 5px 10px;
    margin-top: 20px;
    outline: none;
    border: 1px solid aqua;
    background: transparent;
    color: beige;
    border-radius: 5px;
    cursor: pointer;
}
.container button:hover{
    /* box-shadow: 0px 5px 10px aqua, 0px 10px 15px aqua; */
    background: aqua;
    color: black;
}
